{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>Data de Nascimento:</strong> {{ author.date_of_birth }} </p>
  {% if author.date_of_death %}
    <p><strong>Data de Morte:</strong> {{ author.date_of_death }} </p>
  {% endif %}
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Livros</h4>
    
    {% for book in author.book_set.all %}
    <hr />
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Atualizar autor</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Deletar autor</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
