{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ book.title }}</h1>

  <p><strong>Autor:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
  <p><strong>Resumo:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Gênero:</strong> {{ book.genre.all|join:", " }}</p>
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Cópias</h4>
    
    {% for copy in book.bookinstance_set.all %}
    <hr />
    <p
    class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
    {{ copy.get_status_display }}
    </p>
      {% if copy.status != 'a' %}
      <p><strong>Idioma:</strong> {{ copy.language }}</p>
      <p><strong>Prazo de devolução:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Edição:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_book or perms.catalog.delete_book %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_book %}
      <li><a href="{% url 'book-update' book.id %}">Atualizar livro</a></li>
    {% endif %}
    {% if not book.bookinstance_set.all and perms.catalog.delete_book %}
      <li><a href="{% url 'book-delete' book.id %}">Deletar livro</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
